<section class="heading">
  <div class="heading__content">
    <div class="heading__content__text">
      <h1><span class="accent-white">ВКУСНЕЙШНЕЕ</span> МЕКСИКАНСКОЕ ТАКО </h1>
      <p>У ВАС В РУКАХ СПУСТЯ 30 МИНУТ ПОСЛЕ ЗАКАЗА </p>
    </div>
    <a class="heading__content__action-btn action-btn">
      <span class="">ЗАКАЗАТЬ</span>
      <img src="/assets/img/arrow.svg" alt="" class="action-btn__arrow">
    </a>
  </div>
  <div class="heading__image-container">
    <img src="/assets/img/heading-taco.png" alt="">
  </div>
</section>
<section class="promo-line">
  <img src="assets/img/burrito_small.svg" alt="">
  <div class="promo-line__content">
    <p>ПОЛУЧИТЕ <span>20% СКИДКИ</span> НА ЗАКАЗ ПО ПРОМОКОДУ </p>
    <span class="promo-line__content__promo">TEXMEX23</span>
  </div>
</section>
<section class="menu">
  <app-heading-underline text="МЕНЮ"></app-heading-underline>
  <div class="menu__container">
    <app-menu-item *ngFor="let item of menuItems$ | async;" [item]="item"></app-menu-item>
  </div>
</section>

