.main-button {
  padding: 12px 32px;
  background-color: var(--main-red);
  color: var(--main-text);
  font-weight: 700;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: var(--main-red-hover);
  }
}
