.cart {
  background-image: url(/assets/img/texture-bg.svg);
  background-repeat: repeat;

  padding-top: 100px;
  min-height: 100vh;

  flex-direction: column;
  align-items: center;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
  }
}
