.heading-underline {
  display: flex;
  flex-direction: column;

  h2 {
    padding: 0 30px;
  }

  &__underline {
    transform: translateY(-10px);
    width: 100%;
    height: 5px;
    background-color: #000000;
  }
}
